body{
    background-color: black;
    margin: 0;
    padding: 0;
   }
   
   
   .main-heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:white;
    margin-left: 30px;
    text-align: center;
   
   }
   .tag-line{
    font-size: 20px;
    font-weight: 100;
   }
   .img-container{
            display: flex;         
            align-items: flex-end;
        }
          .baga-beach-img{
          height: 500px;
          width: 650px;
          margin: 10px;
          margin-right: 100px;        
          border-radius: 20px;
          border: 2px solid #fff;
          }
          
          .beach-img{
            height: 240px;
            width: 280px;
            margin-top: 15px ;            
            border:2px solid #fff;     
            border-radius: 8px;  
          }
          .div{
           
             margin-top: 5px;
            margin-bottom: 5px;
          
            
          }
          .div-1{
            display: flex;    
            flex-wrap: wrap;  
            justify-content: space-around;   
            margin-top: 5px;
            margin-bottom: 5px;
          
          }
          .baga-beach-img:hover{
            box-shadow: 0px 0px 5px 2px azure;
                padding: 5px 30px;
                transition: 0.5s; 
          }
          .beach-img:hover{
            box-shadow: 0px 0px 5px 2px azure;
                padding: 5px 30px;
                transition: 0.5s;
          }
   .address{
    color:azure;
    margin-left: 600px;
    font-size: 20px;
    position: relative;
    font-weight: 19px;
    
   }
   .history-block{
    background-color:#262626;
    border:2px solid white;
    margin:20px 30px;
    padding:20px;
    border-radius: 30px;
   }
   .headings{
    color:azure;
    font-size: 30px;

   }.discription{
    color:azure;
    font-family:sans-serif;
    padding: 20px;
   }
   .points{
    padding:7px;
   }
   .middle-part{
    display: flex;
   
    justify-content: space-around;
    margin: 20px 30px;
    padding:20px;
   }
   .blocks{
    background-color: #262626;
    border: 2px solid white;
    border-radius: 20px;
    padding:20px;
    margin: 10px;
   
   }
   .food{
    display:flex;
   
    justify-content:space-around;
   
   }
   .food-cards{
    background-color:#fff;
    border: 2px solid white;
    border-radius: 15px;
    height: auto;
    width:270px;
    padding:2px;
    margin: 2px;
    position: relative;
 
   }
  
  
   .food-img:hover{
    box-shadow: 0px 0px 5px 2px azure;
    padding: 5px 30px;
    transition: 0.5s;
   }
   .food-img{
    height: 250px;
    width:250px;
    margin:5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px 15px 15px 15px;
   }
   .food-name{
    color:#262626;
    font-size: 25px;
    margin-top: 7px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
   }
   .food-discription{
    color:#262626;
    padding:10px;
    margin:8px;
    font-family:initial;
    text-align: center;

   }
   .map{
    align-items: center;
   }


   .navbar{
    
background-color: #262626;
    height: 100px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
position:sticky;


}
.navbar-icon{
    padding-left: 40px;
    height: 100px;
}
.tit{
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: bold;
    color:goldenrod;
    position: relative;
    left: 40px;
    padding-bottom: 15px;
    margin-top: 8px;
}
.menu-icon{
    height: 30px;
    margin-left: 20px;
    border-radius: 15px;
    background-color:goldenrod;
    color: #000;



}
.menu-icon:hover{
  height: 35px;
  box-shadow: 3px whitesmoke;
  cursor: pointer;
  transition: 0.5s;
}
.navbar-menu{
    position: relative;
    top: 30px;
    margin-right: 50px;
}

   @media screen  and(max-width:600){
    .baga-beach-img{
      height: 300px;
      width: 400px;
    }
    .beach-img{
      height: 180px;
      width: 180px;
      align-items: center;
    }
    .food-cards{
      margin-top: 10px;
    width: 180px;
    }
    .food-img{
     
      width: 150px;
    }
    .middle-part{
      width: auto;
    }
    .blocks{
      width: auto;
    }
    .map{
      height:400px;
      width: 300px;
    }
   }