body{
    background-color: black;
   }
   .navbar{
    background-color:whitesmoke;
    font-size: 40px;
    padding:10px;        
   }
   .main-heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:whitesmoke;
    margin-left: 500px;
   }
   .tag-line{
    font-size: 20px;
    font-weight: 100;
   }
   .taj-mahal-img{
    height: 500px;
    width: 700px;
    margin-left: 10px;       
    border-radius: 20px;
    border: 2px solid #fff;
    }
    
    .taj-img{
      height: 240px;
      width: 280px;        
      border:2px solid #fff; 
      margin-top: 5px;    
      border-radius: 8px; 
      margin-left:20px; 
    }
    .div{
      display: flex;
      justify-content: space-evenly;
  }
    .div-1{
      display: flex;    
      flex-wrap: wrap;  
      justify-content: center;   
      margin-top: 5px;
      margin-bottom: 5px;
    
    }
    .div-2{
      display: flex;    
      flex-wrap: wrap;  
      justify-content:center;   
      margin-top: 5px;
      margin-bottom: 5px;

    }
   .address{
    color:azure;
    font-weight:30px;
    font-size: 19px;
    position: relative;
    bottom:25px;
    left:450px;
   }
   .history-block{
    background-color:#262626;
    border:2px solid white;
    margin:20px 30px;
    padding:20px;
    border-radius: 30px;
   }
   .headings{
    color:azure;

   }.discription{
    color:azure;
    font-family:sans-serif;
    padding: 20px;
   }
   .points{
    padding:7px;
   }
   .middle-part{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 30px;
    padding:20px;
   }
   .blocks{
    background-color: #262626;
    border: 2px solid white;
    border-radius: 20px;
    padding:20px;
    margin: 10px;
   }
   .cards-container{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    height: auto;
   }
   .food-cards{
    background-color: azure;
    border: 2px solid white;
    border-radius: 15px;
    height: auto;
    width:270px;
   }
   .food-img{
    height: 230px;
    width:250px;
    border-radius: 15px 15px 0 0;
    margin:10px 10px;
    box-shadow: 0 0 5px 3px grey;
   }
   .food-name{
    color:#262626;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
   }
   .food-discription{
    color:#262626;
    padding:10px;
    margin:8px;
    font-family:initial;
    text-align: justify;
   }
   .place-cards{
    background-color: azure;
    border: 2px solid white;
    border-radius: 15px;
    height: auto;
    width:300px;
    margin:30px;
}
.place-card-img{
    height: 230px;
    width:280px;
    border-radius: 15px 15px 0 0;
    margin:10px 10px;
    box-shadow: 0 0 5px 3px grey;
}
.place-name{
    color:#262626;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.place-info{
    color:#262626;
    padding:25px;
    margin:8px;
    font-family:initial;
    text-align: justify;
}
.hotel-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hotel-card{
    background-color: azure;
    border: 2px solid white;
    border-radius: 15px;
    height: auto;
    width:310px;
    margin:25px;
}
.hotel-img{
    height: 200px;
    width:290px;
    border-radius: 15px 15px 0 0;
    margin:10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 3px grey;
}
.hotel-name{
    color:#262626;
    font-size: 25px;
    font-weight: bold;
    margin-left:25px;
    margin-top: 10px;

}
.hotel-add{
    font-size: 15px;
    margin-left: 25px;
    color:rgba(77, 77, 77,0.9)
}
.hotel-info{
    color:#008080;
}
.prise{
    color:#d70909;
    font-size: 19px; 
    font-weight: bold;
    margin-left: 25px;
}
.call-btn{
    border: 2px solid rgb(167, 4, 4);
    border-radius: 20px;
    color: #d70909;
    background-color: azure;
    padding:10px;
    position: relative;
    left:200px;
    bottom:30px;
    font-weight: bold;
    width: 90px;
}
.call-btn:hover{
    background-color: #d70909;
    color: azure;
    cursor: pointer;

}
.map{
    border: 2px solid rgb(246, 12, 12);
    position: relative;
    left:400px;
   }
   .Wish{
    text-align: center;
    Color:whitesmoke;
   }
   @media screen and (min-width:500px) and (max-width:600px){
    .main-heading{
        font-size: 40px;
        margin-left: 60px;
       }
       .address{
        font-size: 16px;
        position: relative;
        bottom:25px;
        left:50px;
       }
       .tag-line{
        font-size: 15px;
       }
       .taj-mahal-img{
        height: 400px;
        width: 370px;
        margin-left: 5px; 
        margin-top: 20px;      
        }
        .taj-img{
          height: 100px;
          width: 120px;        
          margin-top: 3px;    
          margin-left:10px; 
        }
        .history-block{
            background-color:#262626;
            border:2px solid white;
            margin:10px 15px;
            padding:15px;
            
           }
        .discription{
            padding: 15px;
           }
           .middle-part{
            width:500px;
            display: flex;
            flex-wrap: wrap;
            margin-left:-10px;
           }
           .cards-container{
            display:flex;
            justify-content:space-evenly;
            flex-wrap: wrap;
            height: auto;
           }
           .food-cards{
            height: auto;
            width:230px;
            margin:10px;
           }
           .food-img{
            height: 210px;
            width:200px;
            box-shadow: 0 0 4px 2px grey;
           }
           .food-name{
            font-size: 20px;
            margin-top: 8px;
           }
           .food-discription{
            padding:8px;
            margin:8px;
           }
           .place-cards{
            height: auto;
            width:350px;
            margin:20px;
        }
        .place-card-img{
            height: 310px;
            width:330px;
            margin:8px 8px;
        }
        .map{
            height: 350px;
            width:490px;
            position: relative;
            left:10px;
           }
           .Wish{
            font-size: 16px;
            text-align: center;
            Color:whitesmoke;
           }
        

   }
   @media screen and (min-width:601px) and (max-width:750px){
    .main-heading{
        font-size: 60px;
        margin-left: 100px;
       }
       .address{
        font-size: 20px;
        position: relative;
        bottom:25px;
        left:70px;
       }
       .tag-line{
        font-size: 15px;
       }
       .taj-mahal-img{
        height: 450px;
        width: 450px;
        margin-left: 5px; 
        margin-top: 45px;      
        }
        .taj-img{
          height: 120px;
          width:200px;        
          margin-top: 3px;    
          margin-left:10px; 

   }
   .history-block{
    margin:13px 18px;
    padding:17px;
    
   }
.discription{
    padding: 17px;
   }
   .middle-part{
    width:700px;
    display: flex;
    flex-wrap: wrap;
    margin-left:-10px;
   }
   .cards-container{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    height: auto;
   }
   .food-cards{
    height: auto;
    width:300px;
    margin:15px;
   }
   .food-img{
    height: 210px;
    width:270px;
    box-shadow: 0 0 4px 4px grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   .food-name{
    font-size: 30px;
    margin-top:12px;
   }
   .food-discription{
    padding:10px;
    margin:10px;
   }
   .place-cards{
    height: auto;
    width:310px;
    margin:20px;
}
.place-card-img{
    height:310px;
    width:290px;
    margin:8px 8px;
}
.hotel-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hotel-card{
    height: auto;
    width:310px;
    margin:20px;
}
.hotel-img{
    height: 200px;
    width:290px;
    border-radius: 15px 15px 0 0;
    margin:10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 3px grey;
}
.map{
    height: 350px;
    width:490px;
    position: relative;
    left:120px;
   }
   .Wish{
    font-size: 19px;
    text-align: center;
    Color:whitesmoke;
   }

   }
    
   